---
openapi: 3.0.1
info:
  title: KnowGo Adaptation API
  description: |
    The KnowGo Adaptation API defines the endpoints used by the KnowGo backend
    to support run-time reconfiguration, monitoring, and notification of
    adaptation events, both on the backend as a whole, as well as on individual
    users.

    A pub/sub interface for notifications is further provided, providing
    adaptation notifications via registered REST API callbacks.

    This work has received funding from the European Union’s Horizon 2020
    research and innovation programme under grant agreements No. 731678 and
    No. 825480.
  contact:
    email: labs@adaptant.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.2
servers:
- url: https://api.knowgo.io/v1
- url: http://api.knowgo.io/v1
security:
- api_key: []
tags:
- name: notifications
  description: Subscribe/Unsubscribe to platform event notifications
- name: adaptation
  description: Trigger/Monitor adaptation of the platform backend
paths:
  /notifications/subscribe:
    post:
      tags:
      - notifications
      summary: Subscribe to event notifications
      operationId: notificationsSubscribe
      parameters:
      - name: event
        in: query
        description: the event type to subscribe to
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: country-change
          enum:
          - country-change
      - name: callbackUrl
        in: query
        description: the location where notifications will be sent
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uri
          example: https://server.ip/callback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        "201":
          description: subscription successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
          links:
            unsubscribeOperation:
              operationId: notificationsUnsubscribe
              parameters:
                subscriptionId: $response.body/#subscriptionId
              description: Unsubscribe from event notifications
        "401":
          description: Unauthorized
        "422":
          description: Callback already registered
      callbacks:
        countryChangeNotification:
          '{$request.body.callbackUrl}':
            post:
              operationId: countryChangeNotification
              requestBody:
                content:
                  application/json:
                    schema:
                      required:
                      - entering
                      - leaving
                      type: object
                      properties:
                        entering:
                          type: string
                          example: de
                        leaving:
                          type: string
                          example: at
                        timestamp:
                          type: string
                          format: date-time
              responses:
                "202":
                  description: |
                    Your server implementation should return this HTTP status
                    code if the data was received successfully
                "204":
                  description: |
                    Your server should return this HTTP status code if no
                    longer interested in further updates
  /notifications/publish:
    post:
      tags:
      - notifications
      summary: Publish an event notification
      description: Publishes a dynamic JSON message to a named topic.
      operationId: publishEventNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_1'
      responses:
        "200":
          description: Message published
        "400":
          description: Message invalid
        "401":
          description: Unauthorized
  /notifications/refresh:
    post:
      tags:
      - notifications
      summary: Refresh an event notification subscription
      operationId: refreshSubscription
      parameters:
      - name: subscriptionId
        in: query
        description: the subscriber ID to refresh
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          example: 3231b2ab-1520-473f-b46a-b465c66de9a9
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_2'
      responses:
        "200":
          description: Successfully refreshed subscription expiry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "401":
          description: Unauthorized
        "404":
          description: Subscription not found
        "500":
          description: Internal server error
  /notifications/unsubscribe:
    post:
      tags:
      - notifications
      summary: Unsubscribe from event notifications
      operationId: notificationsUnsubscribe
      parameters:
      - name: subscriptionId
        in: query
        description: the subscriber ID to unsubscribe
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          example: 3231b2ab-1520-473f-b46a-b465c66de9a9
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_3'
      responses:
        "200":
          description: Unsubscribed
  /adaptation:
    get:
      tags:
      - adaptation
      summary: See the current adaptation scheme in use by the backend
      operationId: getAdaptationScheme
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "401":
          description: Unauthorized
    post:
      tags:
      - adaptation
      summary: Update the current adaptation scheme in use by the backend
      description: |
        Sets the adaptation scheme used by the backend. New users of the
        system will automatically inherit this adaptation scheme, while users
        with a pre-existing adaptation scheme that is weaker than the proposed
        server adaptation will be automatically migrated during the course of
        carrying out the server adaptation. Users that have a more restrictive
        adaptation scheme in place will be unaffected by changes to the server
        adaptation.

        Server adaptation (and any adaptation of affected users) is carried
        out asynchronously, with each user adaptation and the final server
        adaptation status being reported to the completion callback, if
        provided.
      operationId: updateAdaptationScheme
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_4'
        required: true
      responses:
        "201":
          description: Adaptation request registered
        "401":
          description: Unauthorized
      callbacks:
        adaptationCompletion:
          '{$request.body.completionUrl}':
            post:
              operationId: adaptationCompletion
              requestBody:
                content:
                  application/json:
                    schema:
                      required:
                      - status
                      type: object
                      properties:
                        status:
                          type: string
                          example: OK
                          enum:
                          - OK
                          - failed
              responses:
                "202":
                  description: |
                    Your server implementation should return this HTTP status
                    code if the data was received successfully
                "204":
                  description: |
                    Your server should return this HTTP status code if no
                    longer interested in further updates
  /users/{userId}/adaptation:
    get:
      tags:
      - adaptation
      summary: See the current adaptation scheme in use by the specified user
      operationId: getUserAdaptationScheme
      parameters:
      - name: userId
        in: path
        description: ID of Driver
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "401":
          description: Unauthorized
    post:
      tags:
      - adaptation
      summary: Update the current adaptation scheme in use by the specified user
      description: |
        Sets an adaptation scheme for a specific user. The user adaptation
        scheme must be equal or more restrictive than the minimum set by the
        server. Note that the server may further constrain the user-specific
        adaptation scheme in the case where the user scheme is of a weaker type
        than that required by the server.
      operationId: updateUserAdaptationScheme
      parameters:
      - name: userId
        in: path
        description: ID of Driver
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_5'
        required: true
      responses:
        "201":
          description: Adaptation request registered
        "401":
          description: Unauthorized
        "403":
          description: Adaptation request refused - proposed scheme is weaker than server minimum
      callbacks:
        userAdaptationCompletion:
          '{$request.body.completionUrl}':
            post:
              operationId: userAdaptationCompletion
              requestBody:
                content:
                  application/json:
                    schema:
                      required:
                      - driverId
                      - status
                      type: object
                      properties:
                        driverId:
                          type: integer
                          format: int64
                          example: 1
                        status:
                          type: string
                          example: OK
                          enum:
                          - OK
                          - failed
              responses:
                "202":
                  description: |
                    Your server implementation should return this HTTP status
                    code if the data was received successfully
                "204":
                  description: |
                    Your server should return this HTTP status code if no
                    longer interested in further updates
components:
  schemas:
    body_3:
      type: object
      properties:
        subscriptionId:
          type: string
          format: uuid
          example: 3231b2ab-1520-473f-b46a-b465c66de9a9
    body_4:
      required:
      - scheme
      type: object
      properties:
        scheme:
          type: string
          example: EdgePushDown
          enum:
          - None
          - BlockSensitiveStoring
          - CountryRedirection
          - EdgePushDown
        completionUrl:
          type: string
          format: uri
          example: https://server.ip/callback
    body_1:
      required:
      - id
      - message
      type: object
      properties:
        id:
          type: string
          description: Event type
          example: country-change
        message:
          type: object
          description: A dynamic JSON object to publish
          format: json
          example:
            driverId: 1
            entering: de
            leaving: at
            timestamp: 2019-12-12T21:23:26+01:00
    body_2:
      type: object
      properties:
        subscriptionId:
          type: string
          format: uuid
          example: 3231b2ab-1520-473f-b46a-b465c66de9a9
    inline_response_201:
      required:
      - subscriptionId
      properties:
        subscriptionId:
          type: string
          description: this unique identifier allows management of the subscription
          format: uuid
          example: 3231b2ab-1520-473f-b46a-b465c66de9a9
        expiresAt:
          type: string
          description: time that the subscription will expire, unless refreshed
          format: date-time
          example: 2019-12-12T17:20:11+01:00
      description: subscription information
    inline_response_200_1:
      required:
      - scheme
      type: object
      properties:
        scheme:
          type: string
          example: EdgePushDown
          enum:
          - None
          - BlockSensitiveStoring
          - CountryRedirection
          - EdgePushDown
        since:
          type: string
          format: date-time
    inline_response_200:
      required:
      - expiresAt
      - subscriptionId
      properties:
        subscriptionId:
          type: string
          description: this unique identifier allows management of the subscription
          format: uuid
          example: 3231b2ab-1520-473f-b46a-b465c66de9a9
        expiresAt:
          type: string
          description: time that the subscription will expire, unless refreshed
          format: date-time
          example: 2019-12-12T17:20:11+01:00
      description: subscription information
    inline_response_200_2:
      required:
      - driverId
      - scheme
      type: object
      properties:
        driverId:
          type: integer
          format: int64
          example: 1
        scheme:
          type: string
          example: EdgePushDown
          enum:
          - None
          - BlockSensitiveStoring
          - CountryRedirection
          - EdgePushDown
        since:
          type: string
          format: date-time
    body:
      type: object
      properties:
        event:
          type: string
          example: country-change
          enum:
          - country-change
        callbackUrl:
          type: string
          format: uri
          example: https://server.ip/callback
    body_5:
      required:
      - scheme
      type: object
      properties:
        scheme:
          type: string
          example: EdgePushDown
          enum:
          - None
          - BlockSensitiveStoring
          - CountryRedirection
          - EdgePushDown
        completionUrl:
          type: string
          format: uri
          example: https://server.ip/callback
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-Key
      in: header
